# Node.js
**/node_modules/
**/npm-debug.log*
**/.env

# Cloud Provider Keys
OracleCloud/

# Large binaries
Ejecutable/
Descon (Viejo)/
*.pck
*.exe

# Godot
**/export/
**/.godot/
**/.import/
**/android/
**/build/
*.tmp

# System
.DS_Store
Thumbs.db
